:root {
  --black: #121212;
  --white: #d9d9d9;
}
.landingSection {
  background-color: var(--black);
  width: 100vw;
  height: 99vh;
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.mainText {
  font-size: 2em;
  z-index: 100;
}
.typeWriter {
  font-size: 5rem;
  font-weight: 500;
  white-space: nowrap;
  padding: right 10px;
  border-right: 1px solid var(--white);
  padding-right: 1px;
  margin-top: 10px;
  overflow: hidden;
  animation: typeEffect 5s ease-in-out infinite;
  z-index: 10;
}
.scrollMouse {
  position: absolute;
  bottom: 20px;
  width: 60px;
}
@keyframes typeEffect {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  75% {
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
.scrollMouse {
  animation: down 2s ease-in-out infinite;
}
.headText {
  border: 1px solid var(--white);
  border-radius: 50px 50px 50px 50px;
  padding: 9.5px 20px 9.5px 20px;
  transition: all 0.2s ease-in-out;
  animation: changeCol 5s ease-in infinite;
}
@keyframes changeCol {
  0% {
    border: 1px solid pink;
  }
  25% {
    border: 1px solid greenyellow;
  }
  50% {
    border: 1px solid cyan;
  }
  75% {
    border: 1px solid greenyellow;
  }
  100% {
    border: 1px solid pink;
  }
}
.navBar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 50px;
  top: 30px;
  max-width: 1300px;
}
.headText:hover {
  transform: translateX(10px);
}
@keyframes down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@media (min-width: 450px) and (max-width: 600px) {
  .headText {
    top: 50px;
    left: 50px;
  }
  .typeWriter {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 450px) {
  .mainText {
    font-size: 1.7em;
  }
  .typeWriter {
    font-size: 2.3rem;
  }
  .scrollMouse {
    animation: down 2s ease-in-out infinite;
  }
}
